body {
  font: 1em sans-serif;
  padding: 0;
  margin: 0;
}

form {
  max-width: 300px;
  margin: 0;
  padding: 0 5px;
}

p>label {
  display: block;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
  /* requis pour composer de manière appropriée les éléments
     de formulaire sur les navigateurs fondés sur WebKit */
  -webkit-appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

#erreur {
  color: red;
}
.row{
  border-radius: 2px solid black !important;
}
#contenue{
  display: block;

}
/**************zonede recherche**********************/
#rech{
  display: flex;
  flex-direction: row;
}
#radiobtn{
  margin-top:3rem;
  size: 5rem;
  text-align: center;
  
}
#cherche{
  display: flex;
  
}
/*******************ici je cache la grande image pour la version pc*************************/
#album{
  display: none !important;
}
/*****************************responsive configuration***********************************/
@media screen and (max-width: 500px) {
  /*********je cache ma petite images pour les smartphones***********/
 #albumMini{
  display: none !important;
 }
 /***************je réaffiche mon image pour les smartphone**************/
#album{
  width: 100%;
  height: 100%;
  display: block !important;
}
body{
  align-content: center;
  display: flex;
  flex-direction: column;

}
}
